<div class="welcome" style="width: 1000px; height: 500px; margin-bottom: 40px;">

</br></br></br></br>

  <div  class="center hero-unit" style="padding-top: 20px; padding-bottom: 20px; margin-left: auto; margin-right: auto; width: 60%;">

    <h1 style="font-size: 30px; margin-top: 0px;">
      Sign up <% if params[:user][:rolable_type].downcase.eql? 'client' %> as a professional <% end %>
    </h1>
    </br>

    <%
      params[:user][:rolable_type] ||= 'customer'

      if ["customer", "merchant"].include? params[:user][:rolable_type].downcase
        child_class_name = params[:user][:rolable_type].downcase.camelize
        rolable_type = params[:user][:rolable_type].downcase
      else
        child_class_name = "Customer"
        rolable_type = "customer"
      end

      resource.rolable = child_class_name.constantize.new if resource.rolable.nil?
  %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

      <div class="row">

        <div class="span3"><%= f.label :email %>
        <%= f.email_field :email %></div>
      </div>

      <% # customized code begin %>
      <div class="row">
        <%= fields_for resource.rolable do |rf| %>
          <% if rolable_type == 'merchant' %>
			  <div class="span3"><%= rf.label :category %>
            <%= rf.text_field :category %></div>

          <% end %>
        <% end %>
      </div>

      <%= hidden_field :user, :rolable_type, :value => rolable_type %>

      <% # customized code end %>

      <div class="row">
        <div class="span3"><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div class="span3"><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

        <div class="span1" style="margin-top:25px;"><%= f.submit "Sign up", class: "btn btn-primary"  %></div>

      </div>

    <% end %>

    <div style="margin-left: 450px;"><%= link_to "Forgot your password?", new_password_path(resource_name) %></div>

  </div>

</div>
